/*custom styling */

.ChatBox{
    font-family: "Montserrat", sans-serif;
    background-color: rgb(221, 224, 228);
    color: rgba(29, 28, 28, 0.836);
    margin: 4%;
    padding: 2%;
    font-size: 16px;
    height: 75vh;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.chat-log{
    margin-bottom: 1%;
    font-size: 22px;
    font-weight:800;
}
